body {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "arial","helvetica","verdana", sans-serif
}

.concept {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0px;
  background: #fff;
  border-top: thin black inset;
  border-left: thin black inset;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 25px;
  min-height: 500px;
}

.description {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0px;
  background: #fff;
  border: thin black inset;
}

.search {
  padding: 3%;
  background: #fff;
  border-top: thin black inset;
  border-left: thin black inset;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 25px;
}

.login {
  padding: 3%;
  background: #ffffee;
  border: thin black inset;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}
#map {
    width: 500px; 
    height: 300px;
    float: right;
    border : thin black inset;
}

ul.altLabel li {
  display: inline;
}
ul.altLabel li:after {
	content: "; ";
	}
		
ul.altLabel li.altLabelLast:after {
	content: ". ";
	}
ul.navMenu {
  margin-left:  30px;
}
ul.navMenu li {
  display: inline;
  border-left: thin solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
}

ul.alternativeFormats {  
  float: right;
}

ul.alternativeFormats li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}