<h1 style="text-align: center">Library of Congress Subject Headings</h1>
<div class="searchResults">
<p><strong>There are multiple concepts that match that label:</strong></p>
<ul>
  <% @uris.each do | uri | %>
    <li><a href="<%= uri -%>"><%= uri -%></a></li>
  <% end %>
</ul>
</div>
